# Entorno virtual
.venv/
venv/
env/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Archivos generados
*.png
*.html

# Archivos de distribución / empaquetado
dist/
build/
*.egg-info/

# Archivos de IDE y editores
.vscode/
.idea/
*.swp
*.swo
*~

# Archivos del sistema operativo
.DS_Store
Thumbs.db